<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>440188275019-7nc110puc442lm94q0dlt42acv6gah72.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440188275019-7nc110puc442lm94q0dlt42acv6gah72</string>
	<key>API_KEY</key>
	<string>AIzaSyD7Y5Ai0yj2tl-xsUch3A-ryUmSExPXtmo</string>
	<key>GCM_SENDER_ID</key>
	<string>440188275019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterBaseFirebase</string>
	<key>PROJECT_ID</key>
	<string>flutterfirebase-86a78</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfirebase-86a78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440188275019:ios:f9215c2ff7c71248d440ce</string>
</dict>
</plist>